{% extends "balafon/bs_base.html" %}
{% load i18n floppyforms %}

{% block extra_head %}
  {{block.super}}
  {{form.media}}
  <script>
  $(function () {
    $('.company-field').keypress(function () {
      if ($(this).val()) {
        var number = $(this).attr('rel');
        $("#keep-" + number).prop('checked', true);
      }
    });
  })
  </script>
{% endblock %}

{% block document_content %}
<div class="row">
  <div class="col-md-12">
    <h2>{% trans "Import contacts from email address" %}</h2>
    <div class="import-contact-intro">
      {% blocktrans %}Check the box and type the name and first name for each contact you want to save. Then click on submit to save these contacts.
      {% endblocktrans %}
    </div>


    <form role="form" method="POST" action="">{% csrf_token %}
    <div class="row" style="font-weight: bold;">
      <div class="col-md-5">{% trans "Email" %}</div>
      <div class="col-md-2">{% trans "Lastname" %}</div>
      <div class="col-md-2">{% trans "Firstname" %}</div>
      <div class="col-md-1">{% trans "Import?" %}</div>
    </div>
    {% for elt in mail_addresses %}
    <div class="row">
      <div class="col-md-5">
        <input class="form-control" name="mail{{ forloop.counter0 }}" value="{{ elt.address }}" />
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <input type="text" class="form-control" name="name{{ forloop.counter0 }}" placeholder="{% trans 'Name' %}"
                 value="{{ elt.lastname }}" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <input type="text" class="form-control" name="fname{{ forloop.counter0 }}"
                 placeholder="{% trans 'Firstname' %}"  value="{{ elt.firstname }}" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <input type="text" class="form-control company-field" rel="{{ forloop.counter0 }}"
                 name="company{{ forloop.counter0 }}" placeholder="{% trans 'Entity' %}" />
        </div>
      </div>
      <div class="col-md-1 pull-right">
        <input type='checkbox' id="keep-{{ forloop.counter0 }}" name="check{{ forloop.counter0 }}" />
      </div>
    </div>
    {% empty %}
      <h1>{% trans 'No new address found' %}</h1>
    {% endfor %}

      <div class="row">
        <div class="col-md-12 pull-right">
          <input class="btn btn-md btn-primary" type="submit" value="{% trans "Import"%}" />
          <a class="btn btn-md btn-default" href="{{cancel_url}}">{% trans "Cancel" %}</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
