<html>{% load i18n %}
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="http://openlayers.org/en/v3.3.0/css/ol.css" type="text/css">
<style>
#map {
       width: 800px;
       height: 500px;
       border: 2px solid black;
     }
</style>

<script>
$(document).bind('cbox_complete', function() {
  // Create a map
  var ent_id = "{{ entity }}";
  var type_ent = "{{ type }}";

  var address = "";
  var projFrom = null;
  var projTo = null;
  var center = null;
  var cproj = null;
  var size = null;
  var offset = null;
  var icon = null;
  var markers = null;

  $.ajax({
    url: "{% url 'crm_get_addr' %}?term=" + ent_id + "&type=" + type_ent,
    success: function(data) {
      if (document.getElementById("map").childNodes.length == 0) {
        var map = new OpenLayers.Map('map');
        if (data.lat && data.lon) {
          lat = data.lat;
          lon = data.lon;
          map.addLayer( new OpenLayers.Layer.OSM() );
          markers = new OpenLayers.Layer.Markers( "Markers" );
          map.addLayer(markers);
          projFrom = new OpenLayers.Projection("EPSG:4326");
          projTo = new OpenLayers.Projection("EPSG:900913");
          center = new OpenLayers.LonLat(lon,lat);
          cproj = center.transform(projFrom, projTo);
          size = new OpenLayers.Size(21,25);
          offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
          icon = new OpenLayers.Icon('http://openlayers.org/api/img/marker.png', size, offset);
          markers.addMarker(new OpenLayers.Marker(cproj,icon));
          map.setCenter(cproj, 17);
        }
        else {
          address = "";
          var exist_address = false;
          if (data.address) {
                address = data.address + ", ";
                exist_address = true;
          }
          address = address + data.city;
          latitude = data.latitude;
          longitude = data.longitude;
          address = address.split(" ").join("+");
          $.ajax({
            url: "http://nominatim.openstreetmap.org/search?q="+address+"&format=jsonv2",
            success: function(data) {
              if (data[0] != null && exist_address == true) {
                lat = data[0].lat;
                lon = data[0].lon;
                // Add layer
                map.addLayer( new OpenLayers.Layer.OSM() );
                markers = new OpenLayers.Layer.Markers( "Markers" );
                map.addLayer(markers);
                projFrom = new OpenLayers.Projection("EPSG:4326");
                projTo = new OpenLayers.Projection("EPSG:900913");
                center = new OpenLayers.LonLat(lon,lat);
                cproj = center.transform(projFrom, projTo);
                size = new OpenLayers.Size(21,25);
                offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
                icon = new OpenLayers.Icon('http://openlayers.org/api/img/marker.png', size, offset);
                markers.addMarker(new OpenLayers.Marker(cproj,icon));
                // Position of a central point of the map
                map.setCenter(cproj, 17);
                $.ajax({
                  url: "{% url 'crm_put_coords' %}?ent="+ent_id+"&lat="+lat+"&lon="+lon+"&type="+type_ent,
                  success: function(data) {}
                })
              } else {
                document.getElementById('msg').textContent = "  " + "{%  trans 'Address not found' %}";
                document.getElementById('warning').style = "color:red";
                map.addLayer( new OpenLayers.Layer.OSM() );
                projFrom = new OpenLayers.Projection("EPSG:4326");
                projTo = new OpenLayers.Projection("EPSG:900913");
                center = new OpenLayers.LonLat(longitude,latitude);
                cproj = center.transform(projFrom, projTo);
                // Positionnement de la carte sur le point central
                map.setCenter(cproj, 14);
              }
            }
          });
        }
      }
    }
  });
})
</script>
</head>
<body>
  <span class="glyphicon glyphicon-warning-sign" id='warning' style="color:transparent"></span><strong><span id="msg"></span></strong>
  <div id="map"></div>
</body>
</html>